<!DOCTYPE html>
<html>
<head th:replace="fragments/bootstrap::head(title='Add Dpto')"></head>
<body>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<header th:insert="fragments/parts::menu"></header>
			<div class="col-6">
				<form th:action="@{/profesores/addProfesor}" method="post"	th:object="${profe}">
					<label for="nombre" class="form-label mt-3">NIF</label>
					<input type="text" class="form-control" id="nif" name="nif"
						th:field="*{nif}" required>
					<label for="nombre" class="form-label mt-3">Nombre</label>
					<input type="text" class="form-control" id="nombre" name="nombre"
						th:field="*{nombre}" required>
					<label for="nombre" class="form-label mt-3">Apellido1</label>
					<input type="text" class="form-control" id="apellido1" name="apellido1"
						th:field="*{apellido1}" required>
					<label for="nombre" class="form-label mt-3">Ciudad</label>
					<input type="text" class="form-control" id="ciudad" name="Ciudad"
						th:field="*{ciudad}" required>
					<label for="nombre" class="form-label mt-3">Direccion</label>
					<input type="text" class="form-control" id="direccion" name="direccion"
						th:field="*{direccion}" required>
					<label for="nombre" class="form-label mt-3">FechaNacimiento</label>
					<input type="text" class="form-control" id="fechaNacimiento" name="fechaNacimiento"
						th:field="*{fechaNacimiento}" required>
					<!-- Voy a controlarlo como si fuese un enum desde la vista -->
					<label for="nombre" class="form-label mt-3">Sexo:</label>
					<select th:field="*{sexo}" class="form-select" aria-label="Seleccione un departamento" >
						<option th:value="H" th:text="H">H</option>
						<option th:value="M" th:text="M">M</option>
					</select>
					<h6 class="text-danger" th:if="${error!=null}" th:text="${'Profesor existente'}"></h6>	
					<input type="submit" class="btn btn-primary w-100 mt-3" value="AÑADIR" />
					
					<label for="nombre" class="form-label mt-3">Departamento:</label>
					<select th:field="*{departamento}" class="form-select" aria-label="Seleccione un departamento" >
						<option th:each="d : ${departamento}" th:value="${d.getId()}" th:text="${d.getNombre()}"></option>
					</select>	
				</form>
			</div>
			<!--<footer th:replace="fragments/parts::footer(info='menu.adddpto')"></footer>-->
		</div>
	</div>
</body>
</html>